<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist Admin</title>
    <script src="https://kit.fontawesome.com/0d278e64bf.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="box" id="heading">
        <h1>Wishlist Admin <br> <%= date %></h1>
    </div>

    <div class="box">
        <% for(let i = 0; i < myWishes.length; i++) { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <p><%= myWishes[i].date %> <%= myWishes[i].description %></p>
                    <img src="<%= myWishes[i].image %>" name="<%= myWishes[i].image %>" alt="">
                    <input type="hidden" name="imgName" value="<%= myWishes[i].image %>">
                    <button type="submit" id="deleteButton" value="<%= myWishes[i].id %>" name="checkbox"><i class="fas fa-trash"></i></button>
                    
                </div>
            </form>
            
        <% } %>    

        

        <form action="/admin" class="class" method="POST" enctype="multipart/form-data">
            <input type="text" autocomplete="off" name="newWish" placeholder="Add New Wish">
            <input type="file" name="userFile">

            <br>
            <button type="submit"><i class="fas fa-plus"></i></button>
        </form>
    </div>
    <footer>
        <span>M.A. Sikka &#169; 2021</span>
    </footer>
</body>
</html>